<hr>
<div class="th-target-header">
    <span class="th-name">
        <i class="fa-solid fa-{{#if hasPlayerOwner}}person{{else}}ghost{{/if}}{{#if isHidden}} th-hidden{{/if}}"></i>
        {{name}}
    </span>
    <span class="th-controls" data-tooltip-class="pf2e">
        {{#if save}}
            {{#if save.hasResult}}
                {{! ── Has rolled: show result ── }}
                <span class="th-observe" data-tooltip-content="true">
                    <i class="th-save-icon {{save.icon}}"></i>
                    <span class="th-degree {{#if showSuccess}}show{{/if}} {{save.success}}">
                        {{save.value}}
                    </span>
                </span>
            {{else if save.canRoll}}
                {{! ── Can roll: show d20 button ── }}
                <a data-action="th-roll-save" data-tooltip-content="true">
                    <i class="th-save-icon {{save.icon}}"></i>
                    <i class="fa-solid fa-dice-d20 th-die"></i>
                </a>
            {{else}}
                {{! ── Can't roll: show question mark ── }}
                <span data-tooltip-content="true">
                    <i class="th-save-icon {{save.icon}}"></i>
                    <i class="fa-regular fa-circle-question th-unknown"></i>
                </span>
            {{/if}}
            <hr class="th-divider">
        {{/if}}
        <a data-action="th-ping" title="Ping Token">
            <i class="fa-solid fa-fw fa-signal-stream"></i>
        </a>
    </span>
</div>
